[Unit]
Description=Robot Service
After=syslog.target

[Service]
Type=simple
User=root
WorkingDirectory=/tmp
#ExecStart=/root/robot/gamepad.py
ExecStart=sudo docker run  --net=host --hostname=ros2-$(hostname) --privileged --cidfile /tmp/docker-robot_service.cid ros_docker ros2 launch robot_launcher robot_launch.py
ExecStop=docker stop $(cat /tmp/docker-robot_service.cid)
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
