[Unit]
Description=Robot Service
After=syslog.target

[Service]
Type=simple
User=root
WorkingDirectory=/tmp
#ExecStart=/root/robot/gamepad.py
ExecStart=sudo docker run  --net=host --hostname=ros2-$(hostname) --privileged ros_docker ros2 launch robot_launcher robot_launch.py
SyslogIdentifier=robot
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
